
@{
    Layout = null;
}
<h3>MVC KAMP TABLOLARI - KATEGORİ</h3>
<br />
<table>
    <tr>
        <td>ID</td>
        <td>Adı</td>
        <td>Açıklama</td>
        <td>Durum</td>

    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim </td>
        <td>Eğitim hakkında</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sağlık </td>
        <td>Sağlık hakkında</td>
        <td>true</td>
    </tr>
</table>