
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}
<br />
<p>YAPILACAKLAR</p>
<h2>Başlıklarda arama kutucuğu</h2>
<h2>Yazar Görselleri Düzenlenecek</h2>
<h2>Grafikler</h2>
<h2>Vitrin teması</h2>
<h2>Gelen Kutusunda Arama</h2>
<h2>Yetkilendirme</h2>
<h2>Hata sayfası Layouttan ayrılacak</h2>
<h2>Sözlük ve Vitrin Ayrılacak</h2>
<h2>Proje dosyaları sunucuya aktarılacak</h2>
<h2>Alan adı alınacak</h2>
<h2>proje canlıya taşınacak</h2>
<h2>Herhangi bir tablo raporlanacak</h2>



