@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Yazısı</th>
        <th>Aktiflik Durumu</th>
        
    </tr>
    @foreach (var item in Model)
    {

<tr>
    <td>@item.AboutId</td>
    <td>@item.AboutDetails1</td>
    <td>
    <a class="project-actions text-right">
    @if (item.IsActive == true)
    {
        <a class="btn btn-danger btn-sm" href="/About/DeleteAbout/@item.AboutId">
            <i class="fas fa-trash"></i>
            Pasif Yap
        </a>
    }
    else
    {
        <a class="btn btn-success btn-sm" href="/About/DeleteAbout/@item.AboutId">
            <i class="fas fa-trash"></i>
            Aktif Yap
        </a>
    }
</a>
    </td>
    
</tr>

    }
</table>


@Html.Action("AboutPartial","About")