@using EntityLayer.Concrete
@model List<Admin2>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>KULLANICI MAİL</th>
        <th>YETKİ</th>
        <th>STATUS</th>
        <th>PASİF YAP</th>
        <th>YETKİSİNİ DEĞİŞTİR</th>
        @*<th>SİL</th>
            <th>GÜNCELLE</th>
            <th>BAŞLIKLAR</th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminId</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>
           
            <td><a href="/Auth/EditAdmin/@item.AdminId" class="btn btn-warning">Yetkisini Değiştir</a></td>
            @*<td><a href="#" class="btn btn-primary">Başlık Detayları</a></td>*@
        </tr>
    }
</table>

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
